.stars {
  margin: 0;
  display: flex;
}

.star {
  display: flex;
  justify-content: space-between;
  margin: 17px;
}

.stars__star {
  width: 16px;
  height: 12px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  margin-inline: 2px;
}

.stars .stars__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.star__reviews {
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
}
