.stars {
  display: flex;
  margin: 0;

  &__star {
    width: 16px;
    height: 12px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    margin-inline: 2px;
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} .stars__star:nth-child(-n + #{$i}) {
    background-image: url(../images/star-active.svg);
  }
}
